*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.colors{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.colors .color{
    min-width: 300px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 6px;
    margin-bottom: 20px;
}

p{
    text-align: left;
    margin-bottom: 20px;
    font-size: 18px;

}

.colors .red{
    background-color: #FF0000;
}
.colors .green{
    background-color: #00FF00;
}
.colors .yellow{
    background-color: #EEE40C;
}
.colors .orange{
    background-color: #EC6E0C;
}
.colors .maroon{
    background-color: #5A1D1D;
}
.colors .teal{
    background-color: #13E3E2;
}
.colors .purpel{
    background-color: #9015DA;
}